html {
  font-size: 10px;
  background: url(https://scontent.fmnl3-2.fna.fbcdn.net/v/t1.0-9/18033249_10209239324761279_3372745517765980885_n.jpg?oh=3ed82536433b91e5f8c44ac0b25642cb&oe=597A85AF) center;
  background-size: cover;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #00A8CF;
  box-shadow: 0 0 1rem #00A8CF;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #45DCFF;
}
